body{
 background-color: rgb(157, 167, 130);
 color: darkgreen;
}

h1{
    text-align: center;
    color: brown;


}
h2{
    text-align: center;
    color: rgb(109, 68, 18);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.program{
    text-align: right;
}

.mit{
    border: 3px solid white;
}

.tek{
    background-color: aquamarine;
    text-align: center;
    color: brown;
}
a{
    text-decoration: double;
}

.om{
    text-align: center;
    border-style: solid;
    border-color: bisque;
    text-decoration: wavy;
}

