body{
 background-color: rgb(157, 167, 130);
 color: darkgreen;
}

h1{
    text-align: center;
    color: brown;
    font-size: 70px;


}
h2{
    text-align: center;
    color: rgb(109, 68, 18);

}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(53, 12, 29);
}

.mit{
    border-color: bisque;
    text-align: center;
    border-style: solid;
    text-decoration: wavy;
}

.h{
    text-align: center;
    color: black;
    font-size: larger;
}
a{
    text-decoration: double;
}

.om{
    text-align: center;
    border-style: solid;
    border-color: bisque;
    text-decoration: wavy;
}

